<!DOCTYPE html>
<html>

<head>
  <title>Website</title>
  <link rel="stylesheet" href="headerStyle.css">
</head>

<body>
  <header class="header">
    <div class="brand">SNA Bank</div>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="#">Contact Us</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
    </nav>
  </header>